{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{%block title%}Create new trip{% endblock title %}
{% load crispy_forms_tags %}
{%block content%}
    <div class="row col-12 d-flex align-items-center">
        <h1>Create new trip</h1>
        <div class="col-1"><p></p></div>
        <form method="post" class="col-10 align-self-center">
            {% csrf_token %}
            {{form|crispy}}
            <input class="btn btn-success me-2 btn-customed d-inline-block" type="submit" value="Create Trip">
            <button class="btn btn-warning me-2 d-inline-block " type="button">
                <a class="btn-customed" href="{% url 'tripchecker:trips_list'%}">Cancel</a>
            </button>
        </form>
    </div>
{% endblock content %}